<p id="notice"><%= notice %></p>

<p>
  <strong>user_mail:</strong>
  <%= @booking.user_mail %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @booking.phone_number %>
</p>

<p>
  <strong>Location:</strong>
  <%= @booking.location %>
</p>

<p>
  <strong>Selected Seat Numbers:</strong>
  <%= @booking.seat_number %>
</p>

<p>
  <strong>Selected Seat Numbers:</strong>
  <%= @booking.seat_number1 %>
</p>

<p>
  <strong>Selected Seat Numbers:</strong>
  <%= @booking.seat_number2 %>
</p>

<p>
  <strong>Selected Seat Numbers:</strong>
  <%= @booking.seat_number3 %>
</p>

<p>
  <strong>Selected Seat Numbers:</strong>
  <%= @booking.seat_number %>
</p>

<p>
  <strong>Selected Seat Numbers:</strong>
  <%= @booking.seat_number4 %>
</p>

<p>
  <strong>Selected Seat Numbers:</strong>
  <%= @booking.seat_number5 %>
</p>

<p>
  <strong>Selected Seat Numbers:</strong>
  <%= @booking.seat_number6 %>
</p>

<p>
  <strong>Selected Seat Numbers:</strong>
  <%= @booking.seat_number7 %>
</p>

<p>
  <strong>Selected Seat Nu8bers:</strong>
  <%= @booking.seat_number7 %>
</p>

<p>
  <strong>Selected Seat Numbers:</strong>
  <%= @booking.seat_number9 %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
